<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Historique des Alertes - Tableau de Bord</title>
</head>
<body>
  <div class="dashboard-container">
    <main class="main-content" style="width: 100%;">
      <header class="main-header">
        <h1>Historique des Alertes</h1>
        
      </header>

            <!-- camera.component.html -->
        <div class="camera-container">
        <video #videoElement autoplay playsinline></video>
        <div class="camera-buttons">
        <button (click)="startCamera()">Start Camera</button>
                <canvas #canvasElement style="display: none;"></canvas>

        <button (click)="stopCamera()" *ngIf="isCameraOn">Stop Camera</button>
        <button (click)="Captureframe()" *ngIf="isCameraOn">Capture Frame</button>
    </div>

        </div>
    </main>
  </div>

 

  <script src="script.js"></script>
</body>
</html>



